@CHARSET "UTF-8";

table {
	width: auto;
	height: auto;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 20px;
}

tr {
	background-color: #D8D8D8;;
}

tr.title {
	background-color: #66CCFF;
}

th, td {
	border: 1px solid black;
	padding: 5px 40px;
}

